.filled{
  background-color: rgb(var(--primary));
  border: none;
  color: white;
}

.button{
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  transition: 0.3s ease;
}

.outline{
  background-color: transparent;
  border: 1px solid rgb(var(--primary));
  color: rgb(var(--primary));

}

.outline:hover{
  background-color: rgb(var(--primary));
  color: white;
}

.filled:hover{
  background-color: rgba(var(--primary), 0.7);
}