.select{
    width: 100%;
    background: transparent;
    color: white;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid rgb(var(--primary-border));
    padding: 8px;
}

.option{
    background-color: var(--primary-background);
    color: white;
}