# Ignore arquivos do sistema operacional
.DS_Store
Thumbs.db

*venv/
*__pycache__/
*.pyc
*.pyo
*.pyd
app/src-tauri/target/
app/src-tauri/storage/*
*.next

/api/files/*

qdrant_storage

# Ignore arquivos de logs e temporários
*.log
*.tmp
*.swp
*.swo
*.bak
*.backup
*.tmp
*.temp
*.old

# Ignore arquivos de ambiente do editor de texto
.vscode/
.idea/
*.iml

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

api_key.config
db/mysql_data/*