:root{
  --primary-background: 35, 35, 35;
  --secondary-background: 0, 0, 0;
  --primary-border: 60, 60, 60;
  --text-primary: 240, 240, 240;
  --primary: 154, 54, 161;
}

body{
  padding: 0;
  margin: 0;
}