.dropzone{
  padding: 40px 0;
  width: 100%;

  border-radius: 16px;
  border: 2px dashed rgb(var(--primary-border));
  
  cursor: pointer;

  text-align: center;
  color: white;
  transition: all 0.2s;
}

.dropzone:hover{
  background-color: rgb(var(--primary-background));
}

.dropzone.dragover {
  border-color: rgb(var(--primary));
  background-color: rgb(var(--primary-background));
}

.dropzone:hover {
  background-color: rgb(var(--primary-background));
}