.topbar{
    background-color: rgb(var(--primary-background));

    grid-row: 1;
    grid-column: 1 / span 2;

    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    place-items: center;

    border: 2px solid rgb(var(--primary-border));
}
.title{
    color: rgb(var(--text-primary));
    font-weight: bold;
    font-size: large;
}