@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  
.processing {
background-color: gray;
cursor: not-allowed;
opacity: 0.7;
animation: blink 1s infinite;
transition: opacity 0.3s ease;
}

.button {
padding: 10px 20px;
font-size: 16px;
border: 1px solid var(--primary);
border-radius: 5px;
color: white;
background-color: transparent;
cursor: pointer;
transition: background-color 0.3s ease;
color: var(--primary);
}

.button:hover {
  color: white;
  background-color: var(--primary);
}

.button:disabled {
background-color: gray;
cursor: not-allowed;
}
  