.Collection{
    color: white;
    padding: 16px;
    max-width: 90%;
    min-height: 450px;
    overflow-x: auto;
    overflow-y: hidden;
}

.documents{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px
}